@import "../../App.scss";

.component {
  @include track-table;
  @include track-buttons;

  background: var(--color-background);
}

.active {
  background: var(--color-highlight);
  color: var(--color-background);
}
