.component {
  table {
    width: 100%;
    border-collapse: collapse;
    background: var(--color-background);

    tbody {
      tr {
        td:not(:first-of-type) {
          box-sizing: border-box;
          padding: calc(var(--padding-panel) / 2) var(--padding-panel);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          border-bottom: var(--line-style);
        }

        td:not(:last-of-type) {
          border-right: var(--line-style);
        }

        &:hover {
          td:not(:first-of-type) {
            background: var(--color-highlight);
            color: var(--color-background);
            cursor: pointer;
            transition: all var(--transition-duration);
          }
        }
      }
    }

    thead {
      position: sticky;
      top: 0;
      background: var(--color-background);

      tr {
        th {
          padding: var(--padding-panel);
          color: var(--color-highlight);
          text-align: left;
          border-right: var(--line-style);
        }
      }
    }

    td[data-column-name="Year"],
    td[data-column-name="Track"],
    td[data-column-name="Length"] {
      font-family: var(--font-family-monospace);
      font-size: 95%;
      text-align: right;
    }

    th[data-column-name="Year"],
    th[data-column-name="Track"],
    th[data-column-name="Length"],
    th[data-column-name="Genre"],
    td[data-column-name="Genre"] {
      text-align: right;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 30px;
    width: 100%;

    button {
      text-align: center;
      cursor: pointer;
      border: 0;
      color: var(--color-highlight);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-background);
      color: var(--color-highlight);
      border-bottom: var(--line-style);

      &:not(:last-of-type) {
        border-right: var(--line-style);
      }

      &:hover {
        background: var(--color-highlight);
        color: var(--color-background);
      }
    }
  }
}
