@use "fonts.scss";

:root {
  // TODO: Inter?
  --font-family: "84204FFF-79F6-4EF4-94F5-6CD6CA6CA761", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-monospace: Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
  --font-size-base: 14px;
  --font-line-height: 1.25;

  --padding-panel: 0.4em;
  --panel-size: 20em;
  --transition-duration: 0.125s;

  --color-background: #fff;
  --color-foreground: #101010;
  --color-foreground-light: #ccc;
  --color-foreground-lighter: #eee;
  --color-highlight: #fb4934;

  --line-style: 1px solid var(--color-foreground-lighter);
  --border-radius: 5px;
}

.dark {
  --color-background: #111;
  --color-foreground: #fff;
  --color-foreground-light: #666;
  --color-foreground-lighter: #333;
  --color-highlight: red;

  --line-style: 1px solid var(--color-foreground-lighter);

  transition: all var(--transition-duration);
}

/* Scrollbar - width */
::-webkit-scrollbar {
  width: 0.75em;
}

/* Scrollbar - Track */
::-webkit-scrollbar-track {
  background: var(--color-foreground-lighter);
}

/* Scrollbar - Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-highlight);
}

/* Scrollbar - Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-highlight);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body,
#root,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  overflow-y: hidden;
  color: var(--color-foreground);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  line-height: var(--font-line-height);
  display: grid;
  grid-template-columns: var(--panel-size) auto;

  background-color: var(--color-background);
  background-size: 1em 1em;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-highlight) 0,
    var(--color-highlight) 1px,
    var(--color-background) 0,
    var(--color-background) 50%
  );

  transition: background var(--transition-duration);
}

code {
  font-size: small;
}

hr {
  border: 0;
  border-bottom: var(--line-style);
}

.waiting-text {
  padding: calc(var(--padding-panel) * 10);
  color: var(--color-foreground-light);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-shadow {
  box-shadow: 15px 0px 40px -15px rgba(0, 0, 0, 0.75);
  transition: box-shadow var(--transition-duration);
  z-index: 99;
}

@mixin dots-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin track-table {
  table {
    width: 100%;
    border-collapse: collapse;
    background: var(--color-background);

    tbody {
      tr {
        td:not(:first-of-type) {
          padding: 0 var(--padding-panel);
          border-bottom: var(--line-style);
        }

        td:not(:last-of-type) {
          border-right: var(--line-style);
        }

        &:hover {
          td:not(:first-of-type) {
            background: var(--color-highlight);
            color: var(--color-background);
            cursor: pointer;
            transition: all var(--transition-duration);
          }
        }
      }
    }

    thead {
      position: sticky;
      top: 0;
      background: var(--color-background);

      tr {
        th {
          padding: var(--padding-panel);
          color: var(--color-highlight);
          // border-bottom: var(--line-style);
          text-align: left;
        }
      }

      th:not(:last-of-type) {
        border-right: var(--line-style);
      }
    }

    *[data-alignment="right"] {
      text-align: right;
    }

    *[data-font-style="monospaced"] {
      @include monospaced-font;
    }

    *[data-trim-text] {
      @include dots-text;
    }

    /* This is for the TracksPanel component that uses TanStack Table */
    td[data-column-name="Year"],
    td[data-column-name="Track"],
    td[data-column-name="Length"] {
      @include monospaced-font;
      text-align: right;
    }

    th[data-column-name="Year"],
    th[data-column-name="Track"],
    th[data-column-name="Length"],
    th[data-column-name="Genre"],
    td[data-column-name="Genre"] {
      text-align: right;
    }
  }
}

@mixin track-buttons {
  .buttons {
    display: flex;
    flex-direction: row;
    max-width: 75px;
    height: 25px;

    button {
      min-width: 25px;

      background: var(--color-background);
      border: 0;
      color: var(--color-highlight);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-of-type) {
        border-right: var(--line-style);
      }

      &:hover {
        background: var(--color-highlight);
        color: var(--color-background);
      }
    }
  }
}

@mixin monospaced-font {
  font-family: var(--font-family-monospace);
  font-size: 95%;
}

$track-row-height: 25;

:export {
  trackRowHeight: $track-row-height;
}
