.component {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    width: 30em;
    background: var(--color-background);
    padding: calc(var(--padding-panel) * 4);
    padding-top: calc(var(--padding-panel) * 40);
  }

  svg {
    width: 5em;
    height: 5em;
    color: var(--color-foreground-light);
  }

  h1 {
    font-size: calc(var(--font-size-base) * 4);
    color: var(--color-highlight);
  }

  h2 {
    font-weight: normal;
  }
}
