@import "../../App.scss";

// NOTE: Omit units! This is imported by JS/TS.
$cellHeight: 75;

:export {
  cellHeight: $cellHeight;
}

.wrapper {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  height: 100%;
  overflow-x: scroll;
}

.all {
  border-right: var(--line-style);
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  width: calc(var(--panel-size) * 1);
  background: var(--color-background);

  ul {
    height: 100%;

    li {
      border-bottom: var(--line-style);
      padding: calc(var(--padding-panel) * 1) calc(var(--padding-panel) * 2);
      cursor: pointer;

      strong {
        display: block;
        width: calc(var(--panel-size) - 3em);
        font-weight: 600;
        @include dots-text;
      }

      em {
        display: block;
        width: calc(var(--panel-size) - 3em);
        font-style: normal;
        @include dots-text;
      }

      > span {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        color: var(--color-foreground-light);
      }

      // Hover and Selected
      &:hover,
      &.active {
        background: var(--color-highlight);
        transition: all var(--transition-duration);

        * {
          color: var(--color-background);
        }
      }
    }
  }
}
