.genres {
  li {
    line-height: 1.5 !important;

    small {
      color: var(--color-foreground-light);
      display: table;
      width: 100%;

      span {
        display: table-cell;
        width: 33%;
      }
    }
  }
}
