.main {
  background: var(--color-background);
  border-right: 2px double var(--color-foreground-light);
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  left: 0;
  position: sticky;
  width: var(--panel-size);
  z-index: 999;
}
