.component {
  background: var(--color-background);
  border-right: 1px dotted var(--color-foreground-light);
  height: 100%;

  ul[role="tablist"] {
    border-bottom: 1px dotted var(--color-foreground-light);

    display: grid;
    grid-template-columns: repeat(5, 20%);

    li[role="tab"] {
      color: var(--color-highlight);
      cursor: pointer;
      display: inline-block;
      font-size: 2em;
      outline: none;
      padding: calc(var(--padding-panel) * 1) 0;
      transition: all 0.25s;

      svg {
        margin: 0 auto;
      }
    }

    li[role="tab"]:not(:last-of-type) {
      border-right: 1px dotted var(--color-foreground-light);
    }

    li[role="tab"]:hover {
      background: var(--color-highlight);
      color: var(--color-background);
    }

    li[aria-selected="true"] {
      color: var(--color-background);
      background: var(--color-highlight);
    }
  }

  .tabs {
    height: 100%;
  }

  div[role="panel"] {
    display: none;
  }

  div[role="selected-panel"] {
    height: 100%;
    display: block;
  }
}
