.component {
  background: var(--color-background);
  border-right: var(--line-style);
  height: 100%;

  ul[role="tablist"] {
    border-bottom: var(--line-style);

    display: grid;
    grid-template-columns: repeat(5, 20%);

    li[role="tab"] {
      color: var(--color-highlight);
      cursor: pointer;
      display: inline-block;
      font-size: 2em;
      outline: none;
      padding: calc(var(--padding-panel) * 1) 0;
      transition: all var(--transition-duration);

      svg {
        margin: 0 auto;
      }
    }

    li[role="tab"]:not(:last-of-type) {
      border-right: var(--line-style);
    }

    li[role="tab"]:hover {
      background: var(--color-highlight);
      color: var(--color-background);
    }

    li[aria-selected="true"] {
      color: var(--color-background);
      background: var(--color-highlight);
    }
  }

  .tabs {
    height: 100%;
  }

  // NOTE: In our home-grown tabber, all panels are mounted!
  div[role="panel"] {
    display: none;
  }

  div[role="selected-panel"] {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
