.main {
  background: var(--color-background);
  border-right: 1px dotted var(--color-foreground-light);
  height: 100%;

  ul[role="tablist"] {
    display: flex;
    font-display: row;
    justify-content: space-between;
    padding: 1em calc(var(--padding-panel) * 2);

    li[role="tab"] {
      font-size: 2em;
      cursor: pointer;
      color: var(--color-highlight);
      opacity: 0.25;
      transition: all 0.25s;
      outline: none;
    }

    li[role="tab"]:hover {
      opacity: 0.75;
    }

    li[aria-selected="true"] {
      opacity: 1;
    }
  }

  .tabs {
    height: 100%;
  }

  div[role="panel"] {
    display: none;
  }

  div[role="selected-panel"] {
    height: 100%;
    display: block;
  }
}
