.track {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .album-art {
    width: var(--panel-size);
    height: var(--panel-size);

    min-width: var(--panel-size);
    min-height: var(--panel-size);

    max-width: var(--panel-size);
    max-height: var(--panel-size);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h2 {
    padding: var(--padding-panel);
    padding-bottom: 0;
    color: var(--color-highlight);

    span {
      color: var(--color-foreground);
    }
  }

  h3 {
    padding: var(--padding-panel);
    color: var(--color-foreground);
    margin-top: 0;
    padding-top: 0;
    font-weight: normal;
  }

  table {
    color: var(--color-foreground-light);
    position: absolute;
    width: var(--panel-size);
    bottom: 0;
    transition: all var(--transition-duration);
    cursor: pointer;
    border-collapse: collapse;

    &:hover {
      color: var(--color-foreground);
    }

    tr:not(:last-of-type) {
      th,
      td {
        border-bottom: 1px dotted var(--color-foreground-light);
      }
    }

    tr {
      * {
        padding: calc(var(--padding-panel) / 4) calc(var(--padding-panel) / 2);
      }
      &:hover {
        background-color: var(--color-foreground-lighter);
      }
      th {
        text-align: left;
        vertical-align: top;
        max-width: calc(var(--panel-size) * 0.4);
        width: calc(var(--panel-size) * 0.4);
      }

      td {
        vertical-align: top;
        max-width: calc(var(--panel-size) * 0.6);
        width: calc(var(--panel-size) * 0.6);

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.no-track {
  padding: calc(var(--padding-panel) * 10);
  color: var(--color-foreground-light);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
