.track {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  table {
    border-collapse: collapse;
    bottom: var(--padding-panel);
    color: var(--color-foreground-light);
    cursor: pointer;
    position: absolute;
    transition: all var(--transition-duration);
    width: var(--panel-size);

    &:hover {
      color: var(--color-foreground);
    }

    tr:not(:last-of-type) {
      th,
      td {
        border-bottom: 1px dotted var(--color-foreground-light);
      }
    }

    tr {
      * {
        padding: calc(var(--padding-panel) / 4) calc(var(--padding-panel) / 2);
      }
      &:hover {
        background-color: var(--color-foreground-lighter);
      }
      th {
        text-align: left;
        vertical-align: top;
        max-width: calc(var(--panel-size) * 0.4);
        width: calc(var(--panel-size) * 0.4);
      }

      td {
        vertical-align: top;
        max-width: calc(var(--panel-size) * 0.6);
        width: calc(var(--panel-size) * 0.6);

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.no-track {
  padding: calc(var(--padding-panel) * 10);
  color: var(--color-foreground-light);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
