.track {
  position: sticky;
  right: 0;
  top: 0;
  width: var(--panel-size);
  flex-grow: 0;
  flex-shrink: 0;

  background: var(--color-background);
  border-left: 3px double var(--color-foreground-light);
  box-sizing: border-box;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      color: var(--color-foreground-light);
      padding: var(--padding-panel);
    }

    button {
      background-color: transparent;
      border: 0;
      padding: var(--padding-panel);
      color: var(--color-highlight);

      &:hover {
        background-color: var(--color-highlight);
        color: white;
        cursor: pointer;
      }

      svg {
        display: inline-block;
        margin-right: 0.25em;
        position: relative;
        top: 2px;
      }
    }
  }

  .album-art {
    width: var(--panel-size);
    height: var(--panel-size);

    min-width: var(--panel-size);
    min-height: var(--panel-size);

    max-width: var(--panel-size);
    max-height: var(--panel-size);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h2 {
    padding: var(--padding-panel);
    padding-bottom: 0;
    color: var(--color-highlight);

    span {
      color: var(--color-foreground);
    }
  }

  h3 {
    padding: var(--padding-panel);
    color: var(--color-foreground-light);
    margin-top: 0;
    padding-top: 0;
    font-weight: normal;
  }

  table {
    position: absolute;
    bottom: 0;
    width: 100%;

    tr:not(:last-of-type) {
      th,
      td {
        border-bottom: 1px dotted var(--color-foreground-light);
      }
    }

    tr {
      * {
        padding: calc(var(--padding-panel) / 4) calc(var(--padding-panel) / 2);
      }
      th {
        text-align: left;
        vertical-align: top;
        max-width: calc(var(--panel-size) * 0.4);
        width: calc(var(--panel-size) * 0.4);
      }

      td {
        vertical-align: top;
        max-width: calc(var(--panel-size) * 0.6);
        width: calc(var(--panel-size) * 0.6);

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
