.links {
  ul {
    font-size: calc(var(--font-size-base) * 1.125);

    li {
      padding: calc(var(--padding-panel) / 3) var(--padding-panel);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span:nth-of-type(1) {
        font-weight: bold;
      }

      &:hover {
        background: red;
        color: white;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px dotted #ddd;
    }
  }
}
