.links {
  ul {
    li {
      color: red;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: calc(var(--padding-panel) / 2) var(--padding-panel);
      font-size: calc(var(--font-size-base) * 1.25);

      span:nth-of-type(1) {
        font-weight: bold;
      }

      span:nth-of-type(2) {
        opacity: 0.5;
        color: red;
      }

      &:hover {
        background: red;
        color: #fff;

        span {
          opacity: 1;
          color: #fff;
        }
      }
    }

    li:not(:last-child) {
      border-bottom: 1px dotted #ddd;
    }
  }
}
