.links {
  font-size: calc(var(--font-size-base) * 1.5);

  ul {
    li {
      color: var(--color-highlight);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: calc(var(--padding-panel) / 2) var(--padding-panel);

      span:nth-of-type(1) {
        font-weight: bold;
      }

      span:nth-of-type(2) {
        opacity: 0.5;
        color: var(--color-highlight);
      }

      &:hover {
        background: red;
        color: var(--color-background);

        span {
          opacity: 1;
          color: var(--color-background);
        }
      }
    }

    li:not(:last-child) {
      border-bottom: 1px dotted var(--color-foreground-light);
    }
  }
}
