.listening-time {
  padding: calc(var(--padding-panel) * 2);
  color: var(--color-foreground-light);
  border-top: 1px dotted var(--color-foreground-light);
  border-bottom: 1px dotted var(--color-foreground-light);
}
