.search {
  width: 100%;

  input {
    width: 100%;
    border: 0;
    opacity: 0.5;
    padding: var(--padding-panel);
    border-bottom: 1px dotted #ddd;
    font-size: calc(var(--font-size-base) * 1.5);
  }

  input:focus {
    opacity: 1;
    outline: none;
    color: red;
  }
}
